{% load static %}
<!-- Categories Start -->
<div class="container-fluid pt-5">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Categories</span></h2>
    <div class="row px-xl-5 pb-3">
        <div class="col-md-3 col-sm-6 pb-1">
            <a class="text-decoration-none" href="{% url 'core:playstation_list' %}">
                <div class="cat-item d-flex align-items-center mb-4">
                    <div class="overflow-hidden p-2" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="{% static 'img/playstation.png' %}" alt="playstation">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>Playstation</h6>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 pb-1">
            <a class="text-decoration-none" href="{% url 'core:nintendo_list' %}">
                <div class="cat-item img-zoom d-flex align-items-center mb-4">
                    <div class="overflow-hidden p-2" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="{% static 'img/nintendo.png' %}" alt="nintendo">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>Nintendo</h6>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 pb-1">
            <a class="text-decoration-none" href="{% url 'core:xbox_list' %}">
                <div class="cat-item img-zoom d-flex align-items-center mb-4">
                    <div class="overflow-hidden p-2" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="{% static 'img/xbox.png' %}" alt="xbox">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>Xbox</h6>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 pb-1">
            <a class="text-decoration-none" href="{% url 'core:gaming_pc_list' %}">
                <div class="cat-item img-zoom d-flex align-items-center mb-4">
                    <div class="overflow-hidden p-2" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="{% static 'img/gamingpc.png' %}" alt="gamingpc">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>Gaming PC</h6>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- Categories End -->