{% load static %}
<!-- Footer Start -->
<div class="container-fluid bg-dark text-secondary mt-5 pt-5">
    <div class="row px-xl-5 pt-5">
        <div class="col-lg-3 col-md-2 mb-5 pr-3 pr-xl-5">
            <div class="d-flex flex-column justify-content-start">
                <img class="img-fluid" src="{% static 'img/gameshopa.png' %}" alt="gameshopa">
            </div>
        </div>
        <div class="col-md-3 mb-5 pl-5  pl-xl-5">
            <h5 class="text-secondary text-uppercase mb-4">Useful Link</h5>
            <div class="d-flex flex-column justify-content-start">
                <a class="text-secondary mb-2" href="/"><i class="fa fa-angle-right mr-2"></i>Home</a>
                <a class="text-secondary mb-2" href="{% url 'core:about' %}"><i class="fa fa-angle-right mr-2"></i>About Us</a>
                <a class="text-secondary mb-2" href="{% url 'core:contact' %}"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                <a class="text-secondary mb-2" href="{% url 'core:dmca_privacy' %}"><i class="fa fa-angle-right mr-2"></i>Dmca Policy</a>
                <a class="text-secondary mb-2" href="{% url 'core:privacy' %}"><i class="fa fa-angle-right mr-2"></i>Privacy Policy</a>
                <a class="text-secondary mb-2" href="{% url 'core:affiliate_disclosure' %}"><i class="fa fa-angle-right mr-2"></i>Affiliate Disclosure</a>
                <a class="text-secondary mb-2" href="{% url 'core:terms' %}"><i class="fa fa-angle-right mr-2"></i>Terms Of Use</a>
            </div>
        </div>
        <div class="col-md-3 mb-5 pr-5 pr-xl-5">
            <h5 class="text-secondary text-uppercase mb-4">Get In Touch</h5>
            <p class="mb-4">We are no doubt the best at delivering quality digital content for your best buying experience.</p>
            <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>423 Street, New York, USA</p>
            <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>info@gameshopa.com</p>
            <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+1 484 345 67890</p>
        </div>
        <div class="col-md-3 mb-5">
            <h5 class="text-secondary text-uppercase mb-4">Newsletter</h5>
            <p>Subscribe to our Newsletter to stay updated.</p>
            <form action="{% url 'core:email_list' %}" method="POST">
                {% csrf_token %}
                <div class="input-group">
                    {{ forms }}
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">Sign Up</button>
                    </div>
                </div>
            </form>
            <h6 class="text-secondary text-uppercase mt-4 mb-3">Follow Us</h6>
            <div class="d-flex">
                <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-instagram"></i></a>
                <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-pinterest"></i></a>
            </div>
        </div>
    </div>
    <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
        <div class="col-md-6 px-xl-0">
            <p class="mb-md-0 text-center text-md-left text-secondary">
                2023
                &copy; <a class="text-primary" href="https://gameshopa.com">Game Shopa</a>. All Rights Reserved.
            </p>
        </div>
        <div class="col-md-6 px-xl-0 text-center text-md-right">
            <img class="img-fluid" src="{% static 'img/payments.png' %}" alt="payments">
        </div>
    </div>
</div>
<!-- Footer End -->