{% load static %}
<!-- Products Start -->
<div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Latest</span></h2>
    <div class="row px-xl-5">
        {% for f_obj in post_image %}
        <div class="col-md-3 col-sm-6 pb-1">
            <div class="product-item bg-light mb-4">
                <div class="product-img position-relative overflow-hidden">
                    <img class="img-fluid w-100" src="{{ f_obj.image.url }}" alt="{{ f_obj.name }}">
                    <div class="product-action">
                        <a href="{{ f_obj.get_absolute_url }}" class="btn btn-primary">Shop Now</a>
                    </div>
                </div>
                <div class="text-center py-4">
                    <a class="h6 text-decoration-none" href="{{ f_obj.get_absolute_url }}">{{ f_obj.name }}</a>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        <h5>${{ f_obj.price }}</h5>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Products End -->
